/* lunbo 样式可以响应不用写两套 */
.lunbo{
    min-width: 378px;
    background-size: cover;
    /* width: 1440px; */
    height: 330px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    position: relative;
    background: rebeccapurple;
    opacity: .8;
  }
  .lunbo-title{
    position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
  }
  @media (max-width: 550px){
    
    .lunbo{
      height: 144px;
      font-size: 1rem;
    }
    
  }