.left {
  float: left;
}
.right {
  float: right;
}
.main-content {
  width: 95%;
  margin: 0 auto;
  min-height: calc(80vmin);
}
.list-group {
  background: #333;
}
.list-group a {
  display: block;
  color: hsla(61, 90%, 48%, 0.931);
  text-decoration: none;
  margin-bottom: -1px;
  padding: 10px 15px;
}
.list-group a.active {
  background: hsla(70, 71%, 58%, 0.931);
  color: black;
}
.cardSection {
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  grid-row-gap: 10px;
}

@media screen and (max-width: 768px) {
  .cardSection {
    display: grid;
    grid-template-columns: 1fr;
  }
}

#sidenav {
  float: right;
  margin-right: 20px;
}

.icon_img {
  width: 22px;
  vertical-align: middle;
}

/* Tooltip 容器 */
.tip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black;  悬停元素上显示点线 */
}

/* Tooltip 文本 */
.tip .tiptext {
  font-size: 0.5em;
  visibility: hidden;
  width: 100px;
  background-color: white;
  color: #000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* 定位 */
  position: absolute;
  left: 0;
  bottom: -28px;
}
/* 鼠标移动上去后显示提示框 */
.tip:hover .tiptext {
  visibility: visible;
}
.tip .tiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* 提示工具头部 */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}
