/* 图标样式 */

i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}
i.iconfont {
  vertical-align: baseline;
}
.bg-weixin {
  width: 16px;
  height: 16px;
  background: url("./css_sprites.png") -84px -10px;
}
.bg-weibo {
  width: 16px;
  height: 16px;
  background: url("./css_sprites.png") -46px -46px;
}

.bg-wangyiyun {
  width: 16px;
  height: 16px;
  background: url("./css_sprites.png") -10px -46px;
}
.bg-heart {
  width: 18px;
  height: 16px;
  background: url("./css_sprites.png") -10px -10px;
}
.bg-bilibili {
  width: 16px;
  height: 16px;
  background: url("./css_sprites.png") -84px -46px;
}
