
  .container {
    /* min-width: 1180px; */
    position: sticky;
    top: 0;
    border-bottom: 3px solid #62bbc3;
    z-index: 1000;
  }
  
  header ul {
    display: inline-block;
  }
  header li {
    
    display: inline-block;
    margin: 0 20px;
  }
  a {
    text-decoration: none;
    color: unset;
  }
  a.logo img,
  .hover-menu img {
    vertical-align: middle;
  }
  .hover-menu:hover img {
    transform: rotate(180deg);
  }
  .hover-menu:hover > .menu-list {
    display: block;
  }
  .hover-menu img {
    transition: transform 0.5s;
  }
  form.search {
    display: inline-block;
  }
  .header {
    background: #fff;
    box-shadow: inset 0px -1px 0px 0 rgba(0, 0, 0, 0.1);
    z-index: 3;
    /* height: 60px; */
    line-height: 60px;
  }
  .search input {
    width: 227px;
    border-radius: 50px;
    height: 34px;
    border: 1px solid #e6e6e6;
    font-size: 14px;
    padding-left: 10px;
    outline: none;
    margin-bottom: 10px;
  }
  .menu-list {
    background: #fff;
    display: none;
    border: 1px solid #e6e6e6;
    position: absolute;
    width: 70%;
    text-align: initial;
  }
  .menu-list-content {
    display: flex;
  }
  section {
    display: grid;
    grid-template-columns:1fr 4fr 2fr; 
    text-align: center; 
  }
  
  .bg-search {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    background: url("../Footer/css_sprites.png") -48px -10px;
  }
  /*导航部分的响应式布局*/
  @media (max-width: 1406px) {
  .header{
    line-height: 35px;
  }
    section a {
      grid-column-start: span 3;
    
    }
    section ul {
      grid-column-start: span 3;
    }
    section form {
      grid-column-start: span 3;
    }
    
  }
  @media (max-width: 550px){
    body{
      font-size:14px;
    }
    section a.logo img{
      width: 35px;
    }
    .lunbo{
      height: 144px;
      font-size: 1rem;
    }
    .main{
      width: 100%;
    }
    .total{
      display: none;
    }
  }